@charset "UTF-8";
@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideright {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideleft {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

#es-mixa.es-mixa * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#es-mixa.es-mixa h2,
#es-mixa.es-mixa h3,
#es-mixa.es-mixa h4,
#es-mixa.es-mixa h5 {
  font-family: 'Montserrat';
  color: #c40435;
}

#es-mixa.es-mixa {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #c40435;
  background: #fff;

  .es-kv {
    margin: 0;
    padding: 0;
    position: relative;

    &__bg-desktop {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      display: none;
    }
    &__bg-mobile {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      display: block;
    }
    &__content {
      position: relative;
      text-align: center;
      padding: 15px;
    }
    &__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    &__logo {
      & {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin-top: 50px;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
    }
    &__name {
      margin: 25px auto 15px;
      background-color: #c40435;
      color: #fff;
      padding: 5px 15px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      border-radius: 30px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }
    &__subtitle {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 30px;
      font-weight: 500;
    }
    &__tiles {
      margin-top: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &__tile {
      max-width: 265px;
    }
    &__image-container {
      position: relative;
    }
    &__image-desc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      position: absolute;
      bottom: 5%;
      left: 5%;
      color: #fff;
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      font-size: 18px;
      white-space: nowrap;
    }
    &__desc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      color: #c40435;
      text-align: left;
      padding: 10px;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .es-baner {
    margin: 0;
    padding: 10px;
    background-color: #c40435;

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
    }
  }

  .es-icons {
    position: relative;
    margin: 0 auto;
    padding: 80px 10px;

    &__bubble {
      display: none;
      position: absolute;
      z-index: 5;
    }
    &__bubble--left {
      left: -3%;
      bottom: -100px;
    }
    &__bubble--right {
      right: -3%;
      top: 10px;
    }
    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      width: 71% !important;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 21px;
      font-weight: 600;
      color: #c40435;
    }
    &__subtitle {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 10px 0 60px;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      color: #000;
    }
    &__container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 30px 5px;
    }
    &__item {
      min-width: 220px;
      margin: 0 auto;
      text-align: center;
    }
    &__desc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 35px 0 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      color: #000;
    }
  }

  .es-percents {
    background: -webkit-gradient(linear, left top, right top, from(#d5e3ed), to(#b5cbe2));
    background: -webkit-linear-gradient(left, #d5e3ed, #b5cbe2);
    background: linear-gradient(90deg, #d5e3ed, #e8b1b9);
    padding-top: 30px;
    padding-bottom: 75px;
    position: relative;

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      color: #c40435;
    }
    &__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      padding: 20px 20px 0;
      position: relative;
    }
    &__subtitles {
      padding: 20px 10px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    &__subtitle {
      max-width: 350px;
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 5px 35px;
      font-size: 10px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      border-radius: 15px 0 15px 0;
      background-color: #c40435;
      z-index: 2;
    }
    &__subtitle--left {
      margin-left: 3%;
    }
    &__subtitle--right {
      margin-right: 3%;
    }
    &__row {
      position: relative;
      z-index: 1;
      padding: 20px 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    &__row:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 118%;
      opacity: 0.5;
      z-index: -1;
      background-color: #fff;
    }
    &__item {
      text-align: center;
      max-width: 185px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__number {
      opacity: 1;
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 60px;
      font-weight: 700;
      color: #c40435;
    }
    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      color: #c40435;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__text--blue {
      font-size: 14px;
      color: #810323;
      padding-bottom: 10px;
    }

    &__text--red {
      color: #810323;
    }
  }

  .es-ingr {
    & {
      position: relative;
      padding: 0 0 10px 0;
    }
    &__desktop {
      display: none;
    }
    &__headline {
      padding: 40px 0 40px;
      width: 100%;
      background-color: #c40435;
    }
    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin: 0 auto;
      width: 90%;
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: #fff;
    }
    &__subtitle {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin: 0 auto;
      width: 90%;
      text-align: center;
      font-size: 27px;
      font-weight: 300;
      color: #fff;
    }
    &__container {
      position: relative;
      min-height: 400px;
    }
    &__image {
      max-width: 80%;
      display: block;
      margin: 0 auto;
      margin-right: 0;
    }
    &__item {
      text-align: center;
      position: relative;
    }
    &__itemTitle {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin-top: 20px;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #c40435;
    }
    &__list {
      list-style: none;
    }
    &__listItem {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      color: #000;
      white-space: nowrap;
    }
    &__listItem:before {
      content: '•';
      color: #c40435;
      font-size: 20px;
      font-weight: 900;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
    &__line {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .es-routine {
    & {
      margin-top: 50px;
      padding: 0 5px;
      background: -webkit-linear-gradient(top, #fff, #fff 400px, #f5f5f5 400px, #f5f5f5);
      background: linear-gradient(180deg, #fff, #fff 400px, #f5f5f5 400px, #f5f5f5);
    }
    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: #c40435;
    }
    &__container {
      margin: auto;
      margin-top: 3rem;
      overflow-x: auto;
    }
    &__table {
      position: relative;
      border-spacing: 5px 15px;
      table-layout: auto;
      width: 100%;
      border: none;
    }
    &__thead {
      font-size: 1rem;
      font-weight: 500;
      text-align: left;
    }
    &__th {
      margin: 0 auto;
      text-align: center;
      padding: 0.75rem 0.8rem;
      vertical-align: bottom;
    }
    &__td {
      white-space: nowrap;
      text-align: center;
      padding: 15px;
      vertical-align: middle;
      font-size: 16px;
      color: #000;
      background: #fff;
      font-weight: 400;
    }
    &__td:first-child {
      text-align: left;
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      border-radius: 10px 0 0 10px;
    }
    &__td:last-child {
      border-radius: 0 10px 10px 0;
    }
    &__td--firstColumn {
      margin-right: 10px;
      color: #c40435;
      font-weight: 700;
    }
    &__td--name {
      background-color: #c40435;
      color: #fff;
      font-weight: 700;
    }
    &__td--name--1 {
      border-radius: 10px 0 0 10px;
    }
    & tr:last-child td:first-child {
      border-bottom-left-radius: 0.5rem;
    }
    & th:first-child {
      border-top-left-radius: 0.5rem;
    }
    & tr:last-child td:last-child {
      border-bottom-right-radius: 0.5rem;
    }
    & th:last-child {
      border-top-right-radius: 0.5rem;
    }
  }

  .es-cross {
    margin: 0;
    padding-top: 30px;
    background: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5 200px, #fff 200px, #fff);
    background: linear-gradient(180deg, #f5f5f5, #f5f5f5 200px, #fff 200px, #fff);

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      color: #c40435;
      padding-bottom: 50px;
    }
    &__container {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 40px 20px;
    }
    &__product {
      text-align: center;
    }
    &__desc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
    }
    &__desc--1 {
      color: #c40435;
    }
    &__desc--2 {
      color: #7f7fc1;
    }
    &__desc--3 {
      color: #db114a;
    }
    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;
      color: #000;
    }
    &__link {
      margin: 20px auto 30px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      padding: 8px 35px;
      text-decoration: none;
      border-radius: 10px;
      text-transform: uppercase;
    }
    &__link--1 {
      background-color: #0182d5;
    }
    &__link--2 {
      background-color: #7f7fc1;
    }
    &__link--3 {
      background-color: #db114a;
    }
    &__footer {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 40px 10px 20px;
      text-align: center;
      font-size: 10px;
      font-weight: 500;
      color: #000;
    }
  }

  @media screen and (min-width: 451px) {
    .es-percents {
      &__subtitles {
        padding: 20px 10px 5px;
      }
      &__subtitle {
        font-size: 16px;
      }
      &__item {
        max-width: 260px;
      }
      &__number {
        font-size: 70px;
      }
      &__text {
        font-size: 14px;
      }
      &__text--red {
        font-size: 18px;
        padding-bottom: 10px;
      }
      &__text--big {
        font-size: 16px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      &__bg-desktop {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        display: block;
      }
      &__bg-mobile {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        display: none;
      }
      &__content {
        width: 50%;
        position: absolute;
        top: 0;
        right: 10px;
        text-align: right;
      }
      &__title {
        margin-top: 30px;
        font-size: 20px;
      }
      &__name {
        font-size: 28px;
        margin: 25px 0 15px auto;
      }
      &__subtitle {
        font-size: 20px;
      }
      &__tiles {
        margin-top: 14px;
        -webkit-box-pack: end;
        -webkit-justify-content: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
      }
      &__tile {
        max-width: 160px;
      }
      &__image-desc {
        font-size: 12px;
      }
      &__desc {
        font-size: 10px;
        font-weight: 500;
      }
      &__logo {
        margin: 0 0 0 auto;
        width: 160px;
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }

    .es-icons {
      &__bubble {
        display: block;
      }
    }

    .es-percents {
      &__image {
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 3;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-percents {
      &__image {
        max-width: 360px;
      }
    }
  }

  @media screen and (min-width: 930px) {
    .es-kv {
      &__title {
        margin-top: 20px;
        font-size: 25px;
      }
      &__name {
        font-size: 35px;
      }
      &__subtitle {
        font-size: 25px;
      }
      &__tiles {
        margin-top: 23px;
      }
      &__tile {
        max-width: 200px;
      }
      &__image-desc {
        font-size: 16px;
      }
      &__desc {
        font-size: 10.5px;
        font-weight: 500;
      }
    }

    .es-ingr {
      &__desktop {
        display: block;
      }
      &__item {
        max-width: 320px;
        text-align: left;
        position: absolute;
      }
      &__image {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 46%;
      }
      &__line {
        max-width: none;
        width: 140%;
      }
      &__item--1 {
        top: 4%;
        left: 2%;
      }
      &__item--2 {
        top: 44%;
        left: 2%;
      }
      &__item--3 {
        top: 250px;
        right: -9%;
      }
      &__line {
        position: relative;
        padding-left: 20px;
      }
      &__line--3 {
        left: -20px;
      }
      &__itemTitle {
        text-align: left;
        padding-left: 20px;
      }
      &__listItem {
        text-align: left;
      }
    }

    .es-routine {
      padding: 0 25px;
      &__td {
        width: 200px;

        &--firstColumn {
          width: 150px;
        }
      }

      &__td--name {
        text-transform: uppercase;
      }

      &__pack-img {
        display: block;
        max-width: 80%;
        margin: 0 auto;
      }
    }

    .es-cross {
      &__image {
        max-width: 70%;
        margin-bottom: 20px;
      }
      &__desc {
        font-size: 16px;
        font-weight: 500;
      }
      &__text {
        font-size: 16px;
        font-weight: 500;
      }
    }

    .es-percents__image {
      max-width: 378px;
    }
  }
}
